.blog_div_main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
  padding: 2em;
}

.blog_div_image img {
  width: 100%;
  height: 20em;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}

.blog_div_info {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-family: "Roboto", sans-serif;
}

.blog_div {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.blog_div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 500px) {
  .blog_div_main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
  }
  .blog_div_info {
    padding: 1em;
  }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
  .blog_div_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
  }
}
