.footer_div {
    background-color: black;
    color: grey;
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.footer_div p {
    font-family: sans-serif;
    padding-top: 2em;
}

@media screen and (max-width:900px){
    .footer_div{
        padding: 2em;
    }
}