.createblogs_div {
  display: flex;
  flex-direction: column;
  gap: 2em;
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.createblogs_div textarea {
  border: none;
  background-color: black;
  height: 8em;
  color: white;
  padding: 0.5em;
}

.createblogs_div textarea:focus {
  outline: none;
}

.createblogs_div_button button {
  border: none;
  background-color: #5f1ad6;
  padding: 0.5em;
  width: 20%;
  align-self: flex-end;
  border-radius: 0.5em;
  font-weight: 500;
}

.createblogs_div_button button:active {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (max-width: 900px) {
  .createblogs_div {
    padding: 1em;
  }
  .createblogs_div_button button {
    width: 100%;
    align-self: center;
  }
}
