.navbar_div {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 5em;
  font-family: "Tilt Neon", cursive;
}

.navbar_div h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5em;
}

.navbar_ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3em;
  margin: auto 1em auto 0;
  font-size: 1.2em;
}

.navbar_ul a {
  text-decoration: none;
  color: white;
}

.profile_photo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.navbar_logout_button button {
  border: none;
  background-color: inherit;
  color: white;
  padding: 0;
  text-align: left;
  font-size: 1em;
  cursor: pointer;
}

.navbar_login_button button {
  border: none;
  background-color: inherit;
  color: white;
  padding: 0;
  text-align: left;
}

.navbar_login_button {
  /* display: none; */
}

.navbar_ul_responsive {
  border-top: 1px solid #1e293b;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
}

.navbar_ul_responsive li {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #1e293b;
}

.navbar_ul_responsive a {
  text-decoration: none;
  color: white;
}

.navbar_ul_responsive_button {
  display: none;
}

.navbar_ul_responsive_button button {
  border: none;
  background-color: inherit;
  color: white;
}

@media screen and (max-width: 1024px) {
  .navbar_div {
    padding: 1.5em 1.5em;
  }

  .navbar_ul_responsive_button {
    display: flex;
    gap: 1em;
  }

  .profile_photo {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1024px) {
  .navbar_ul {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .navbar_ul_responsive {
    display: none !important;
  }
}
